@media (max-width: 992px) {
  .order-set {
    order: 1;
  }
  .hamburger-menu {
    display: flex !important;
  }
  .nav-bar {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .nav-bar-responsive {
    display: flex !important;
    top: -102vh;
  }
  .nav-bar-responsive.isActiveBar {
    top: 0vh;
  }
}
@media (max-width: 614px) {
  .logo-covid {
    width: 140px !important;
  }
  .hero__title {
    font-size: 40px !important;
  }
  .autofit-txt {
    font-size: 18px !important;
  }
  .doctor__ {
    height: 345px !important;
  }
}
@media (max-width: 475px) {
  .hero__title {
    font-size: 29px !important;
  }
  .w-75.breakpoint {
    width: 100% !important;
  }
  .btn__primary-red,
  .btn__primary-blue {
    width: 45% !important;
    padding: 8px !important;
  }
  .container.breakpoint-nav {
    padding: 0 !important;
  }
  .autofit-txt {
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  .cases--grid {
    grid-template-columns: unset !important;
    margin: 30px 0 !important;
  }
  .img-symp {
    top: 0 !important;
  }
  .hamburger-menu {
    font-size: 40px !important;

    width: 45px !important;
    height: 45px !important;
  }
}
